<style type="text/css">
	.footer{
		min-height: 100px;
        padding: 0!important;
	}

</style>
<!-- Footer -->
<br>
<div class="d-flex flex-row align-items-center footer  bg-white border-top shadow-lg">
    <!--	<p class="m-auto">CodingWithMitch Blog Course | 2019</p>-->
<!--    <p class="m-auto"> 婚禮小幫手 ERP | 2023</p>-->
        <p class="m-auto">
			<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">婚禮小幫手 ERP&nbsp;&nbsp;|&nbsp;&nbsp; ®MIT </font></font><br>
			<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">魚子匠版權所有 © Online Wedding 2024</font></font></p>
</div>
<!-- End Footer -->

