{% extends 'basepage.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br>
<section class="hero is-fullheight">
    <div class="hero-body" style="text-align: center">
        <div class="container">
            <!--   <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">-->
            <div class="container text-center">
                <h1 class="display-1 text-info">讓我們來體驗邀請函功能</h1>
                <p class="display-4 d-none d-sm-block">讓您變成訓獸師</p>
                <p class="lead">我們團隊很開發幾項功能在於婚宴上體驗.</p>
                <p class="lead">如果您還未註冊，請註冊並且好好體驗我們功能來協助您簡易化它.</p>
                <p><strong> 從這裡開始您的旅程:</strong></p>
                <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i
                        class="fa fa-user-plus" aria-hidden="true"></i> 註冊</a>
            </div>

        </div>
    </div>
</section>

{% endblock %}
